*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@font-face {
    font-family: 'Athleta';
    src: url(./fonte/Harabara\ Mais\ Demo.otf) format(opentype);
}

body{
    /* background-color: ; */
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    top: 0px;
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #F9A400;
    color: white;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.tpSobrenos, .tpSustentabilidade, .SobreAthleta{
    margin-left: 10px;

}

p{
    font-weight: bold; 
    font-size: 100%;
}

.tpLogo{
    height: 60px;
}

.lg{
    margin-left: 1%;
}

.tpConta{
    display: flex;
    float: right;
    height: 40px;
    width: 100%;
    background-color: #FFCC68;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 4px white solid;
    margin-right: 20px;
}

.tpConta > p{
    margin-right: 10px;
}

.tpConta > img{
    width: 20px;
    height: 20px;
}

.nav{
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    justify-content: space-between;
        flex-direction: row;

}

.tenis{
    width: 100%;
    top: 0px;
    z-index: 100;
}


.textoTenis{
    color: white;
    margin-top: 280px;
    margin-left: 20px;
    font-size: 50px;
    position: absolute;
}

.popup{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #F9A400;
    border-radius: 20px 0px 0px 20px;
    width: 800px;
    height: 270px;
    z-index: 2;
    float: right;
    align-items: center;
    top: -100px;
    /* flex-wrap: initial; */
}

.popuptxt > h2{
    color: white;
    font-size: 39px;
}

.popuptxt > p{
    margin-top: 2%;
    color: white;
    font-size: 20px;
}

.popup > img{
    width: 214px;
    height: 182px;
    float: left;
    margin-right: 3%;
    margin-left: 2%;
    min-width: 200px;
    max-width: 214px;
}

at{
    font-family: 'Athleta';
}

.linha{
    background-image: url(imagens/Group\ 355.png);
    width: 100%;
    height: 500px;
    background-position: left;
    background-repeat: no-repeat;
    margin-top: -3%;
    margin-bottom: -5%;
}

.fundo_laranja{
    width: 100%;
    height: 520px;
    z-index: -1;
    background-color: #F9A400;
    transform: skewY(-4deg);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}


.fundo_laranja > img{
    transform: skewY(4deg);
    min-width: 100px;
    max-width: 470px;
    right: 50px;
    top: -90px;
    position: relative;
}

.eventotxt{
    transform: skewY(4deg);
    margin-left: 5%;
}

.eventotxt > p{
    font-size: 2em;
}

p > span{
    font-size: 2em;
}

.athleta_store{
    width: 100%;
    height: 570px;
    color: #6C6D6E;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    transform: skewY(-4deg);
    justify-content: center;
    position: relative;
    z-index: 3;
    background-image: url(imagens/Group\ 353.png);
    background-repeat: no-repeat;
    background-position: left;
}

.athleta_store > p{
    position: relative;
    transform: skewY(4deg);
    font-size: 2em;
    left: 200px;
}

as{
    font-size: 2em;
}

.athleta_store > img{
    position: relative;
    width: 400px;
    transform: skewY(4deg);
    margin-left: 180px;
}


.esportes{
    position: relative;
    display: flex;
    background-color: #F9A400;
    align-items: center;
    width: 100%;
    height: 700px;
    z-index: 2;
    color: white;
    margin-top: -180px;
    justify-content: space-between;
}

.esportes > p{  
    position: relative;
    font-size: 2em;
    width: 700px;
    margin-right: 60px;
    top: 80px;
}

ep{
    font-size: 2em;
}

.esportes > img{
    position: relative;
    width: 470px;
    top: 150px;
    margin-left: 60px;
}

footer{
    position: relative;
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    height: 700px;
    z-index: 1;
    background-image: url(imagens/blending\ 1725273097230.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: -5%;
    align-items: end;
    justify-content: center;
}

.outline{
    display: flex;
    border: 5px solid #F9A400;
    border-bottom: none;
    width: 320px;
    border-radius: 20px 20px 0px 0px;
    height: 420px;
    justify-content: center;
    align-items: end;
    position: relative;
    left: 30px;
    color: #3F3D3D;
    margin-left: -900px;

}

.contatos{
    background-color: #FFBE3F;
    height: 410px;
    width: 95%;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    font-size: 30px;
    flex-direction: column;
}

.contatos > h2{
    position: relative;
    top: 18px;
    text-align: center;
}

.ft{
    display: flex;
}


.insta, .email, .telefone{
    position: relative;
    display: flex;
    align-items: center;
    left: 17px;
    height: 60px;
}

.insta{
    margin-top: 30px;
}

.insta > img{
    width: 50px;
}

.insta > p, .email > p, .telefone > p{
    color: white;
    font-weight: normal;
    position: relative;
    left: 5px;
}

.email > p{
    font-size: 20px;
}

.email{
    top: 20px;
}

.telefone{
    top: 35px;
    left: 21px;
}

.telefone > p{
    left: 10px;
    font-size: 25px;
}


.links_externos{
    position: relative;
    display: flex;
    height: 420px;
    left: 60px;
    flex-direction: column;
    color: #626161;
}

.links_externos > p{
    font-size: 30px;
}


.links_externos > a{
    margin-top: 15px;
    font-size: 20px;
}

@media screen and (max-width: 1070px) {
    header{
        display: none;
    }
}