*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@font-face {
    font-family: 'Athleta';
    src: url(./fonte/Harabara\ Mais\ Demo.otf) format(opentype);
}

body{
    height: 2000px;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    top: 0px;
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #F9A400;
    color: white;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    flex-wrap: wrap;
}

p{
    font-weight: bold;
    font-size: 100%;
}

.tpLogo{
    height: 60px;
    margin-left: 1%;
}

.tpConta{
    display: flex;
    float: right;
    height: 40px;
    width: 100%;
    background-color: #FFCC68;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 4px white solid;
    margin-right: 20px;
}

.tpConta > p{
    margin-right: 10px;
}

.tpConta > img{
    width: 20px;
    height: 20px;
}

.nav{
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.tenis{
    width: 100%;
    top: 0px;
}


.textoTenis{
    color: white;
    margin-top: 23%;
    margin-left: 20px;
    font-size: 50px;
    position: absolute;
    vertical-align: top;
}

.popup{
    display: flex;
    background-color: #F9A400;
    border-radius: 20px 0px 0px 20px;
    width: 60%;
    height: 270px;
    z-index: 2;
    float: right;
    align-items: center;
}

.txt > h2{
    color: white;
    font-size: 39px;
}

.txt > p{
    margin-top: 2%;
    color: white;
    font-size: 20px;
}

.popup > img{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 3%;
    margin-left: 2%;
}

.txt{
    font-size: 100px;
}

at{
    font-family: 'Athleta';
}
