/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- GERAIS -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

header{
    position: sticky;
}

body{
    background-color: #232323;
}

input{
    width: 100%;
}

.xis{
    float: left;
    width: 20px;
    margin: 10px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- FUNÇÕES -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.funcoes{
    width: 300px;
    height: 200px;
    background-color: #FFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #787878;
    margin: 20px;
    z-index: 1;
}

.addForum-btn, .aprEventos-btn{
    width: 80%;
    height: 20%;
    background-color: #f9a400;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- ADD-FÓRUM -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.addForum{
    width: 400px;
    height: auto;
    background-color: #FFF;
    border-radius: 15px;
    flex-direction: column;
    color: #787878;
    text-align: center;
    z-index: 2;
    padding: 15px;
}

.addForum > form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.addForum > form > label > input{
    padding: 8px;
    width: 75%;
    background-color: #D4D4D4;
    border: 2px solid #9A9A9A;
    border-radius: 5px;
}

.add-btn{
    cursor: pointer;
    padding: 5px;
    width: 80%;
    background-color: #F9A400;
    border: 0px;
    border-radius: 5px;
    margin: 0px 10% 20px 10%;
    height: 40px;
    color: white;
}

.add-btn:hover{
    background-color: #ec9d00;
}

.add-btn:active{
    background-color: #9d6900;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=- APROV-EVENTOS -=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.aprEventos{
    width: 400px;
    height: auto;
    padding: 15px;
    background-color: #FFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: #787878;
    z-index: 2;
}

.aprEventos > form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aprEventos-txt{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aprEventos-blocos{
    height: auto;
    padding: 5px;
    width: 80%;
    background-color: #D4D4D4;
    border: 2px solid #9A9A9A;
    border-radius: 5px;
    margin: 2px 0px;
}

.aprEventos-blocos > p > spa{
    color: black;
}


.apr_neg{
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 25px;
    margin: 25px 0px 10px 0px;
    justify-content: space-evenly;
    width: 100%;
}

.aprovar, .negar{
    width: 40%;
    height: 100%;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
}


.aprovar{
    background-color: rgb(0, 197, 0);
}

.aprovar:hover{
    background-color: rgb(0, 181, 0);
}

.aprovar:active{
    background-color: rgb(0, 161, 0);

}


.negar{
    background-color: rgb(250, 0, 0);
}

.negar:hover{
    background-color: rgb(181, 0, 0);
}

.negar:active{
    background-color: rgb(161, 0, 0);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- POPUPS -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.addForum, .aprEventos{
    display: none;
}

#addForum:target{
    ~.addForum{
        display: flex;
    }
}

#aprEventos:target{
    ~.aprEventos{
        display: flex;
    }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- MEDIA -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

@media screen and (max-width: 980px) {
    .aprEventos, .addForum{
        width: 90vw;
    }

    .tpConta{
        display: flex;
    }
}