@font-face {
    font-family: 'Athleta';
    src: url(../fonte/Harabara\ Mais\ Demo.otf) format(opentype);
}

content{
    position: relative;
    left: 15px;
}

h1{
    font-family: 'Athleta';
    font-size: 50px;
    margin-bottom: 0px;
}

p{
    font-size: 20px;
}

.error, a{
    color: #F9A400;
}