/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- GERAIS -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

*{
    z-index: 1;
}

header{
    position: sticky;
}

#menuHamb{
    margin-top: 0px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=- SUSTENTÃVEL -=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.sustentabilidade{
    display: flex;
    position: relative;
    top: -1px;
    width: 100%;
    background-image: url(../imagens/sustentavel2.png);
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sustentabilidadeTxt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    color: white;
}

.sustentabilidadeTxt > h2{
    font-size: 40px;
}

.sustentabilidadeTxt > p{
    font-size: 15px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=- ODS -=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ods{
    position: relative;
    margin-top: 70px;
    width: 100%;
}

.ods > h2{
    color: #F9A400;
    font-size: 30px;
    font-weight: 400;
    width: auto;
    text-align: center;
}

.ods-img > img{
    float: right;
    margin-top: 50px;
}

.ods > p, .odsTxt{
    color: #6a6a6a;
}

.odsTxt{
    width: 50%;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=- GRID - ODS -=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.ods_fixo{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 70px;
}

.todas_ODS{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.todas_ODS > img{
    width: 100px;
    height: 100px;
}



/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- FOOTER -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* footer{
    margin-top: -100px;
    z-index: 0;
    background-image: url(../imagens/blending\ 172.png);
    background-position: bottom right;
} */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- MEDIA -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

@media screen and (max-width: 1200px){
    content{
        display: block;
    }

    .ods{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ods > p{
        width: 90%;
    }

    .ods-img{
        display: flex;
        justify-content: center;
    }

    .odsTxt{
        width: 90%;
        text-align: justify;
    }

    .odsTxt > p{
        width: 100%;
    }

    .ods-img > img{
        float: none;
        width: 70%;
    }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=- MEDIA - ODS -=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


@media screen and (max-width: 1200px) {
    .todas_ODS {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .todas_ODS {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .todas_ODSr {
        grid-template-columns: 1fr; 
    }
}
